.heading{
    font-size: 39px;
    box-shadow: 15px 15px 25px rgb(255, 183, 0);
    width: 100%;
    margin: 0px;
    color: rgb(255, 217, 0);
}

.note{
    font-size: 16px;
    width: 100%;
    color: gold;
}

.copy_right_footer{
    position: fixed;
    font-size: 20px;
    bottom: 0;
    width: 100%;
    background-color:blue;
    color: gold;
    text-align: center;

}

body{
   background-size: cover;
}

canvas{
    background-color: lemonchiffon;
    box-shadow: 8px 8px 20px purple;
    border: 4px thin goldenrod;
}
